# Copy this file into a file called env
# Make sure to reassign API_KEY otherwise no api calls will work

# Port used by the express server
PORT=3000

# API key used to access FEC database server
API_KEY="INSERT API KEY HERE"

# Cloudinary keys used to upload answer images
CLOUDINARY_CLOUD_NAME="INSERT CLOUDINARY CLOUD NAME HERE"
CLOUDINARY_API_KEY="INSERT CLOUDINARY API KEY HERE"
CLOUDINARY_API_SECRET="INSERT CLOUDINARY API SECRET HERE"